/* Box-sizing hace que el padding y el borde estén incluidos dentro del ancho del elemento */
*{
    box-sizing: border-box;
}

/* Definimos el tamaño base de la fuente 
ahora
1rem = 20px
0.5rem = 10px
1.5rem = 30px
2rem = 40px */

html{
    font-size: 16px;
}

/*BOODY Estilos generales de toda la página*/
body{
    /*Tipo de letra que se utiliza en toda la web*/
    font-family: Arial, Helvetica, sans-serif;
    /* Elimina el margen que pone el navegador por defecto */
    margin: 0;
    /* Color de fondo de la página */
    background-color: rgb(105, 255, 255);
}

/* HEADER Estilos para la cabecera de la página */
header{
    background-color: rgb(89, 248, 110);
    color:rgb(255, 48, 48);
    text-align: center;
    /* 1rem = 20px */
    padding: 1rem;
    /* 20vh = 20% de la altura de la pantalla */
    min-height: 100px;

}

/* Estilos para el menú de navegación */
nav{
    background-color: #34495e;
    text-align: center;
    /* 1rem = 20px */
    margin: -1rem;
    font-size: 1rem;
}

/* Estilos para los enlaces del menú de navegación */
nav a{
    text-decoration: none;
    color: aliceblue;
    /* 0.75rem = 15px */
    margin: 2rem;
}

/* Main estilos para el contenedor principal */
main{
    width: 80%;
    /* 1rem = 20px */
    margin: 1rem auto;
/* Ocupa como mínimo el 50% de la pantalla */
min-height: 50vh;
}

/* SECTION estilos para contenedor que agrupa contenido relacionado */
section{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* ARTICLE estilos para bloque independiente de contenido */
article{
    background-color: rgb(255, 255, 255);
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    /* Aquí usamos px porque queremos un grosor fijo para el borde */
    border-left: 5px solid rgb(110, 51, 250);
}

/* ASIDE estilos para la información secundaria */
aside{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Enlaces dentro del aside */
aside a{
    text-decoration: none;
    color: rgb(2, 175, 25);
    font-size: 1rem;
}

/* FOOTER estilos para el pie de página */
footer{
    background-color: #34495e;
    color: aliceblue;
    text-align: center;
    padding: 0.75rem;
    min-height: 10vh;
}

